:root {
  --primary-color-1: rgb(0, 0, 0);
  --primary-color-2: rgb(20, 63, 107);
  --color-grey-dark-2: rgb(119, 119, 119);
  --color-primary: rgb(255, 255, 255);
  --shadow-dark: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  --shadow-light: 0 2rem 3rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

.header__checkbox:checked ~ .header__hamburger span:nth-child(1) {
  transform: rotate(135deg);
}
.header__checkbox:checked ~ .header__hamburger span:nth-child(2) {
  opacity: 0;
}
.header__checkbox:checked ~ .header__hamburger span:nth-child(3) {
  position: absolute;
  transform: rotate(45deg);
}
.header__checkbox:checked ~ .header__nav {
  right: 0;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-grey-dark-2);
  background-color: var(--color-primary);
}

.u-margin-bottom {
  margin-bottom: 18rem !important;
}

.secondary-text {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tertiary-text {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 24rem;
  margin-bottom: 2.5rem;
}

.scroll-off {
  overflow: hidden;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--primary-color-2);
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem 5rem;
  font-size: 1.3rem;
  transition: all 0.2s;
}
.btn:hover, .btn:active,
.btn:link:hover,
.btn:link:active,
.btn:visited:hover,
.btn:visited:active {
  transform: translateY(-0.5rem) translateY(0);
  box-shadow: var(--shadow-dark);
}
@media (max-width: 27em) {
  .btn:hover, .btn:active,
.btn:link:hover,
.btn:link:active,
.btn:visited:hover,
.btn:visited:active {
    transform: translate(0) translateY(0);
    box-shadow: none;
  }
}

.card {
  width: 30%;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: _;
  flex-direction: column;
  background-color: var(--color-primary);
  transition: all 0.2s;
  box-shadow: var(--shadow-dark);
  border-radius: 0.5rem;
}
@media (max-width: 78em) {
  .card {
    max-width: 30rem;
  }
}
@media (max-width: 56em) {
  .card {
    min-width: 36rem;
  }
}
@media (max-width: 48em) {
  .card {
    min-width: 38rem;
  }
}
@media (max-width: 27em) {
  .card {
    min-width: 100%;
  }
}
.card__icon {
  height: 30%;
  display: block;
  margin-bottom: 1rem;
}
.card__header {
  color: var(--primary-color-1);
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.card__paragraph {
  color: var(--primary-color-1);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 3.6rem;
  text-align: center;
  max-width: 28rem;
}
@media (max-width: 78em) {
  .card__paragraph {
    max-width: 26rem;
  }
}
.card:hover {
  transform: scale(1);
  box-shadow: var(--shadow-light);
}

.footer {
  background-color: var(--primary-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: _;
  flex-direction: column;
}
.footer .container {
  display: flex;
  align-items: _;
  justify-content: space-around;
  gap: _;
  width: 100%;
  padding: 6rem 0;
}
@media (max-width: 27em) {
  .footer .container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-evenly;
    align-items: start;
    row-gap: 4rem;
    text-align: center;
  }
}
.footer__text {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.footer__text--small {
  font-size: 1.3rem;
  font-weight: 400;
}
.footer__icons {
  width: 40%;
  display: flex;
  align-items: _;
  justify-content: space-evenly;
  gap: _;
  padding-bottom: 1rem;
}
@media (max-width: 27em) {
  .footer__icons {
    column-gap: 3rem;
  }
}
.footer__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}
.footer__link, .footer__link:link, .footer__link:visited {
  text-decoration: none;
}

.header {
  background-color: var(--primary-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: _;
  padding: 2rem 2rem;
}
@media (max-width: 56em) {
  .header {
    position: relative;
  }
}
.header__logo {
  width: 4rem;
  height: 3.2rem;
}
@media (max-width: 56em) {
  .header__logo {
    order: -1;
  }
}
.header__nav {
  font-size: 1.5rem;
  font-weight: 400;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: _;
}
@media (max-width: 56em) {
  .header__nav {
    height: calc(100vh - 4rem);
    width: 100%;
    font-weight: 600;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 5rem;
    padding-top: 12rem;
    position: fixed;
    right: -100rem;
    top: 7.2rem;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
    z-index: 999;
  }
}
.header__list-input {
  width: 18rem;
  height: 2.9rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding-left: 1rem;
}
.header__link, .header__link:link, .header__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
}
.header__input-container {
  position: relative;
  height: 2.9rem;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 56em) {
  .header__input-container {
    display: none;
  }
}
.header__search-icon-container {
  background-color: #fff;
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.9rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: _;
  overflow: hidden;
}
.header__search-icon {
  fill: var(--color-primary);
  fill: black;
  width: 1.2rem;
  height: 1.2rem;
}
.header__hamburger {
  position: relative;
  display: none;
}
@media (max-width: 56em) {
  .header__hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
  }
}
.header__hamburger span {
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.2s;
}
.header__hamburger span:nth-child(2) {
  width: 1.8rem;
  align-self: flex-end;
}
.header__checkbox {
  position: absolute;
  width: 4rem;
  top: 1.6rem;
  right: 1.5rem;
  z-index: 2;
  cursor: pointer;
  height: 2.6rem;
  opacity: 0;
}

.brand-section {
  padding-bottom: 15rem;
}
@media (max-width: 56em) {
  .brand-section {
    padding-bottom: 8rem;
  }
}
@media (max-width: 27em) {
  .brand-section {
    padding: 6rem 0;
  }
}
.brand-section .brand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: _;
}
@media (max-width: 56em) {
  .brand-section .brand {
    justify-content: space-around;
  }
}
.brand-section .brand__logo {
  width: 10%;
}
@media (max-width: 56em) {
  .brand-section .brand__logo {
    width: 12%;
  }
}
@media (max-width: 48em) {
  .brand-section .brand__logo {
    width: 16%;
  }
}
@media (max-width: 27em) {
  .brand-section .brand__logo {
    width: 20%;
  }
}

.card-section {
  padding-bottom: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: _;
}
@media (max-width: 56em) {
  .card-section {
    flex-direction: column;
    row-gap: 6rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 27em) {
  .card-section {
    padding: 0 3rem;
    padding-bottom: 8rem;
  }
}

.deck-wall-section {
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: _;
  gap: 6rem;
}
@media (max-width: 56em) {
  .deck-wall-section {
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 27em) {
  .deck-wall-section {
    padding-bottom: 6rem;
  }
}
.deck-wall-section .img-container {
  width: 55%;
}
@media (max-width: 56em) {
  .deck-wall-section .img-container {
    width: 60rem;
  }
}
@media (max-width: 48em) {
  .deck-wall-section .img-container {
    width: 100%;
  }
}
.deck-wall-section .img-container .wall-img {
  width: 100%;
  display: block;
}
.deck-wall-section .wall-texts {
  width: 45%;
  align-self: center;
}
@media (max-width: 56em) {
  .deck-wall-section .wall-texts {
    width: auto;
  }
}

.hero-section {
  padding-bottom: 15rem;
  display: flex;
  align-items: _;
  justify-content: flex-end;
  gap: _;
}
@media (max-width: 78em) {
  .hero-section {
    padding-left: 4rem;
  }
}
@media (max-width: 56em) {
  .hero-section {
    padding-bottom: 10rem;
  }
}
@media (max-width: 48em) {
  .hero-section {
    padding-left: 0;
    padding-bottom: 1rem;
  }
}
@media (max-width: 27em) {
  .hero-section {
    background-image: url(/assets/khloe-arledge-8Rz_RIyp5FM-unsplash.webp);
    padding: 0 2rem;
  }
}

.hero {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: end;
  max-width: 120rem;
}
@media (max-width: 78em) {
  .hero {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .hero {
    grid-template-columns: 100%;
    text-align: center;
    padding: 15rem 0;
  }
}
.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 48em) {
  .hero__texts {
    align-items: center;
  }
}
.hero__heading-1 {
  background-color: #ccf3ee;
  color: var(--primary-color-1);
  padding: 1rem 0 1rem 3rem;
  width: 52rem;
  border-radius: 3px;
  line-height: 8rem;
}
@media (max-width: 56em) {
  .hero__heading-1 {
    padding: 1rem 0 1rem 3rem;
    line-height: 6rem;
    width: 40rem;
  }
}
@media (max-width: 48em) {
  .hero__heading-1 {
    line-height: 5.5rem;
    padding: 2rem 2rem 2rem 2rem;
  }
}
@media (max-width: 27em) {
  .hero__heading-1 {
    padding: 2rem 0;
    width: 100%;
  }
}
.hero__heading-1 h3 {
  font-size: 2.5rem;
}
@media (max-width: 56em) {
  .hero__heading-1 h3 {
    font-size: 2.2rem;
  }
}
.hero__heading-1 h1 {
  font-size: 4rem;
  font-weight: 600;
}
@media (max-width: 56em) {
  .hero__heading-1 h1 {
    font-size: 3rem;
  }
}
.hero__heading-1 h1 span {
  color: rgb(207, 181, 59);
}
.hero__heading-2 h2 {
  color: var(--primary-color-1);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero__heading-2 p {
  color: var(--primary-color-1);
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 23rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 48em) {
  .hero__heading-2 p {
    max-width: 26rem;
  }
}
.hero__image-container {
  display: flex;
  align-items: _;
  justify-content: flex-end;
  gap: _;
  z-index: -1;
}
@media (max-width: 48em) {
  .hero__image-container {
    display: none;
  }
}
.hero__image {
  width: 100%;
}

.longevity-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: _;
  padding-bottom: 12rem;
}
@media (max-width: 27em) {
  .longevity-section {
    flex-direction: column;
    row-gap: 2.5rem;
    padding-bottom: 8rem;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: _;
  align-items: center;
  color: var(--primary-color-1);
  text-transform: uppercase;
}
.experience--text {
  font-size: 1.6rem;
  font-weight: 400;
}
.experience--number {
  font-weight: 700;
  font-size: 2.6rem;
}

.mission-section {
  padding-bottom: 12rem;
}
@media (max-width: 56em) {
  .mission-section {
    padding-bottom: 6rem;
  }
}
@media (max-width: 27em) {
  .mission-section {
    padding-bottom: 4rem;
  }
}
.mission-section .mission-text {
  color: var(--primary-color-1);
  font-size: 2.3rem;
  text-align: center;
}
.mission-section .mission-text span {
  font-weight: 600;
  text-transform: uppercase;
}
.mission-section .mission-text--main {
  color: var(--primary-color-2);
}
.mission-section .mission-text--sub {
  color: #cfb53b;
}
.mission-section .mission-text--icon {
  color: #cfb53b;
  margin-left: 0.5rem;
}

.products-section {
  padding-bottom: 15rem;
}
@media (max-width: 56em) {
  .products-section {
    padding-bottom: 8rem;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
@media (max-width: 56em) {
  .products {
    row-gap: 5rem;
  }
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
@media (max-width: 56em) {
  .product {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
}
.product__image {
  width: 40%;
  order: 1;
}
@media (max-width: 56em) {
  .product__image {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
.product__image--02 {
  order: -1;
}
.product__image img {
  width: 100%;
  display: block;
}
.product__texts {
  align-self: flex-end;
}
@media (max-width: 56em) {
  .product__texts {
    align-self: auto;
    order: 2;
  }
}
.product .no-1 {
  display: inline-block;
  font-size: 5rem;
  order: -1;
  align-self: flex-start;
}
@media (max-width: 56em) {
  .product .no-1 {
    font-size: 4.5rem;
    align-self: center;
  }
}
.product .no-1--02 {
  order: 1;
}
@media (max-width: 56em) {
  .product .no-1--02 {
    order: -2;
  }
}

.sofa-section {
  padding-bottom: 15rem;
}
@media (max-width: 56em) {
  .sofa-section {
    padding-bottom: 10rem;
  }
}
@media (max-width: 27em) {
  .sofa-section {
    padding-bottom: 8rem;
  }
}

.composition {
  width: 90%;
  margin: 0 auto;
}
.composition--photo {
  width: 100%;
  display: block;
}

/*# sourceMappingURL=style.css.map */
