.footer {
  background-color: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  @include respond(smallest) {
    height: auto;
  }

  .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5rem;

    @include respond(smallest) {
      flex-direction: column;
      //margin-right: -2.5rem;
    }
  }

  &__container {
    padding-top: 6rem;
    @include respond(smallest) {
      padding-top: 3rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    @include respond(tiny) {
      font-size: 1.2rem;
    }

    @include respond(smallest) {
      font-size: 1.3rem;
    }

    &--small {
      font-size: 1.3rem;
      font-weight: 400;
      @include respond(tiny) {
        font-size: 1.2rem;
      }

      @include respond(smallest) {
        font-size: 1.4rem;
      }
    }
  }

  &__icons {
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    @include respond(smallest) {
      margin-top: 2rem;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    @include respond(tiny) {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  &__link {
    text-decoration: none;
  }
}
