.header {
  background-color: var(--primary-color-2);
  @include flex(center, space-between, _);
  padding: 2rem 2rem;
  @include respond(tablet) {
    position: relative;
  }

  &__logo {
    width: 4rem;
    height: 3.2rem;
    @include respond(tablet) {
      order: -1;
    }
  }

  &__nav {
    font-size: 1.5rem;
    font-weight: 400;
    width: 75%;
    @include flex(center, space-between, _);
    @include respond(tablet) {
      height: calc(100vh - 4rem);
      width: 100%;
      font-weight: 600;
      justify-content: flex-start;
      flex-direction: column;
      row-gap: 5rem;
      padding-top: 12rem;
      position: absolute;
      right: -100rem;
      top: 7.2rem;
      background-color: rgb(0, 0, 0);
      transition: all 0.5s;
      z-index: 999;
    }
  }

  &__list {
    &-input {
      width: 18rem;
      height: 2.9rem;
      border: none;
      outline: none;
      border-radius: 0.4rem;
      padding-left: 1rem;
    }
  }
  &__link,
  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
  }

  &__input-container {
    position: relative;
    height: 2.9rem;
    text-align: center;
    overflow: hidden;
    @include respond(tablet) {
      display: none;
    }
  }

  &__search-icon-container {
    background-color: #fff;
    border-radius: 0.4rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 2.9rem;
    width: 4rem;
    @include flex(center, center, _);
    overflow: hidden;
  }

  &__search-icon {
    fill: var(--color-primary);
    fill: black;
    width: 1.2rem;
    height: 1.2rem;
  }

  &__hamburger {
    position: relative;
    display: none;
    @include respond(tablet) {
      @include flexCol(0.4rem);
      align-items: center;
    }
    span {
      width: 3rem;
      height: 0.2rem;
      background-color: #fff;
      transition: all 0.2s;
    }
    span:nth-child(2) {
      width: 1.8rem;
      align-self: flex-end;
    }
  }

  &__checkbox {
    position: absolute;
    width: 4rem;
    top: 1.6rem;
    right: 1.5rem;
    z-index: 2;
    cursor: pointer;
    height: 2.6rem;
    opacity: 0;
  }
}
