.header {
  background-color: var(--primary-color-2);
  height: 10vh;
  display: flex;
  align-items: center;
  @include respond(nav) {
    justify-content: space-between;
    height: 8vh;
    position: relative;
  }

  &__logo {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 2.1rem;
    @include respond(nav) {
      order: -1;
    }
  }

  &__nav {
    font-size: 1.5rem;
    font-weight: 400;
    flex: 0 0 89%;
    display: flex;
    justify-content: space-evenly;
    @include respond(medium) {
      font-size: 1.3rem;
      flex: 0 0 86%;
    }

    @include respond(tiny) {
      font-size: 1.2rem;
      flex: 0 0 84%;
    }

    @include respond(nav) {
      display: none;
      order: 0;
    }
  }

  &__list {
    list-style: none;
    @include respond(nav) {
      margin-bottom: 2.4rem;
    }
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
    @include respond(nav) {
      color: black;
      font-weight: 600;
      &:hover {
        transform: translateY(-2rem);
      }
    }
  }

  .search-icon {
    fill: var(--color-primary);
    width: 1.9rem;
    height: 2rem;
    @include respond(small) {
      height: 1.8rem;
    }

    @include respond(tiny) {
      height: 1.5rem;
    }

    @include respond(nav) {
      display: none;
    }
  }

  &__label {
    display: none;
    @include respond(nav) {
      display: flex;
      margin-top: 0.7rem;
      background-color: black;
      margin-right: 2rem;
      order: 1;
    }
  }

  &--1 {
    @include respond(nav) {
      position: relative;
      &,
      &::before,
      &::after {
        width: 3.1rem;
        height: 0.3rem;
        background-color: #fff;
        display: inline-block;
        //border-radius: 2px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -0.7rem;
        height: 0.4rem;
      }

      &::after {
        top: 0.7rem;
        height: 0.4rem;
      }
    }
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__nav {
    @include respond(nav) {
      display: flex;
      flex-direction: column;
      background-color: black;
      background-color: rgba(grey, 1);
      clip-path: polygon(100% 0, 100% 78%, 0 100%, 0 55%, 0 0);
      width: 100%;
      height: 48vh;
      //flex: 0 0 45%;
      position: absolute;
      top: 5.5rem;
      // bottom: -19.7rem;
      //left: 24rem;
      z-index: 9999;
      text-align: center;
      transition: all 0.2s;
    }

    @include respond(nav) {
      height: 56vh;
    }

    @include respond(mob) {
      top: 7rem;
    }

    @include respond(smallest) {
      height: 52vh;
      top: 5.5rem;
    }

    @include respond(micro) {
      top: 5.4rem;
    }
  }

  &__input:checked + &__label &--1 {
    @include respond(nav) {
      background-color: var(--primary-color-2);
    }
  }

  &__input:checked + &__label &--1::before {
    @include respond(nav) {
      transform: rotate(135deg);
      height: 0.3rem;
      top: 0;
    }
  }

  &__input:checked + &__label &--1::after {
    @include respond(nav) {
      transform: rotate(-135deg);
      top: 0;
      height: 0.3rem;
    }
  }
}
