// Media Query Manager
@mixin respond($breakpoint) {
  @if $breakpoint == laptop {
    @media (max-width: 78em) {
      // 1260px / 16px = 78em
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 56em) {
      // 900px / 16px = 56em
      @content;
    }
  }

  @if $breakpoint == tablet_2 {
    @media (max-width: 48em) {
      // 768px / 16px = 48em
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (max-width: 27em) {
      // 425px / 16px = 27em
      @content;
    }
  }
}

@mixin flex($ai, $jc, $gap) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  gap: $gap;
}

@mixin flexCol($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
