.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--primary-color-2);
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem 5rem;
  font-size: 1.3rem;
  transition: all 0.2s;

  &:hover,
  &:active {
    transform: translateY(-0.5rem) translateY(0);
    box-shadow: var(--shadow-dark);
    @include respond(mobile) {
      transform: translate(0) translateY(0);
      box-shadow: none;
    }
  }
}
