.deck-wall-section {
  padding-bottom: 15rem;
  @include flex(center, _, 6rem);
  @include respond(tablet) {
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 10rem;
  }
  @include respond(mobile) {
    padding-bottom: 6rem;
  }

  .img-container {
    width: 55%;
    @include respond(tablet) {
      width: 60rem;
    }
    @include respond(tablet_2) {
      width: 100%;
    }

    .wall-img {
      width: 100%;
      display: block;
    }
  }

  .wall-texts {
    width: 45%;
    align-self: center;
    @include respond(tablet) {
      width: auto;
    }
  }
}
