.longevity-section {
  @include flex(center, space-around, _);
  padding-bottom: 12rem;
  @include respond(mobile) {
    flex-direction: column;
    row-gap: 2.5rem;
    padding-bottom: 8rem;
  }
}

.experience {
  @include flexCol(_);
  align-items: center;
  color: var(--primary-color-1);
  text-transform: uppercase;

  &--text {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &--number {
    font-weight: 700;
    font-size: 2.6rem;
  }
}
